
@using ElecWarSystem.Models
@{
    int j = 1;
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/tmam_layout.cshtml";
}
<div ng-app="Fer2aMod">
    <div ng-cloak ng-controller="Fer2aCrud">
        <div class="container">
            <div class="row">
                <h2>{{Name}}</h2>

                <p id="Ma2moreya-counter" style="margin:10px; font-size:18px;">{{Fer2asEntered}} / {{Fer2asTotal}}</p>

                <div class="name-div col-lg-12 .">
                    <div class="container">
                        <div class="row">
                            <div class="form-group col-lg-12 .">
                                <button id="add-Fer2a-btn" class="export-btn" style="font-size:16px;" ng-click="openFer2aPopup()">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    إضافة
                                </button>
                            </div>
                            <div class="col-lg-12 .">
                                <table class="table table-bordered" id="Ma2moreya-table">
                                    <tr>
                                        <th>م</th>
                                        <th>الرتبة / الدرجة</th>
                                        <th>الإسم </th>
                                        <th>الفرقة/الدورة</th>
                                        <th>مكان إنعقاد الفرقة/الدورة</th>
                                        <th>المدة من</th>
                                        <th>المدة إلى</th>
                                        <th colspan="2" style="text-align:center;">بند الأوامر</th>
                                        <th></th>
                                    </tr>
                                    <tr ng-repeat="Fer2a in Fer2a track by $index">
                                        <td>{{$index + 1}}</td>
                                        <td>{{Fer2a.Fer2aDetails.FardDetails.Rotba.RotbaName}}</td>
                                        <td>{{Fer2a.Fer2aDetails.FardDetails.FullName}}</td>
                                        <td>{{Fer2a.Fer2aDetails.Fer2aName}}</td>
                                        <td>{{Fer2a.Fer2aDetails.Fer2aPlace}}</td>
                                        <td>{{Fer2a.Fer2aDetails.DateFrom}}</td>
                                        <td>{{Fer2a.Fer2aDetails.DateTo}}</td>
                                        <td>{{Fer2a.Fer2aDetails.CommandItem.Number}}</td>
                                        <td>{{Fer2a.Fer2aDetails.CommandItem.Date | date : yyyy/MM/dd}}</td>
                                        <td>
                                            <button class="btn btn-danger" ng-click="delete(Fer2a.ID)">
                                                حذف
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup Fer2a-popup">
            <div class="close-btn" ng-click="closePop()">&times;</div>
            <div class="form d-flex flex-wrap">
                <div class="form-group" >
                    @Html.Label("الرتبة/الدرجة", htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownList("FardDetails-Rotba", new SelectList(ViewBag.Rotbas, "ID", "RotbaName"), new { @class = "form-control", @id = "FardDetails-Rotba", @onchange = "UpdateFardDetailsComboBox()" })
                </div>
                <div class="form-group col-8" >
                    @Html.Label("الإسم", htmlAttributes: new { @class = "control-label" })
                    <select name="FardDetails-name" class="form-control" id="FardDetails-name" onchange="disableBtn()">
                        <option></option>
                    </select>
                </div>
                <div class="form-group col-12">
                    @Html.Label("الفرقة/الدورة", htmlAttributes: new { @class = "control-label" })
                    @Html.Editor("Fer2a-name", new { htmlAttributes = new { @class = "form-control", @id = "Fer2a-name", @onkeyup = "validateFer2aName()", @maxlength = "25" } })
                    <label id="Fer2a-name-warn" hidden style="color:red; font-size:14px; font-weight:100;" class="aribiano">أقصى طول لإسم الفرقة 25 حرف</label>
                </div>
                <div class="form-group col-12">
                    @Html.Label("مكان إنعقاد الفرقة/الدورة", htmlAttributes: new { @class = "control-label" })
                    @Html.Editor("Fer2a-place", new { htmlAttributes = new { @class = "form-control", @id = "Fer2a-place", @onkeyup = "disableBtn()" } })
                </div>
                <div class="form-group" style="width: 45%; float: right;">
                    @Html.Label("المدة من", htmlAttributes: new { @class = "control-label" })
                    @Html.Editor("date-from", new { htmlAttributes = new { @class = "form-control", @type = "date", @id = "date-from", @onchange = "disableBtn()" } })
                </div>
                <div class="form-group" >
                    @Html.Label("المدة إلى", htmlAttributes: new { @class = "control-label" })
                    @Html.Editor("date-to", new { htmlAttributes = new { @class = "form-control", @type = "date", @id = "date-to", @onchange = "disableBtn()" } })
                </div>
                <div class="form-group">
                    <label class="control-label">البند الأوامر</label>
                    <input id="command-number" class="form-control" onkeyup="disableBtn()" type="number" style="float: right; width: 35%; margin-left:10%;" />
                    <input id="command-date" class="form-control" onchange="disableBtn()" type="date" style="width: 55%" />
                </div>
                <div class="form-group">
                    <button class="export-btn popup-submit-btn" disabled style="font-size:16px;" ng-click="Add()">
                        <span class="glyphicon glyphicon-save"></span>
                        حفظ
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/TmamScripts/angular.js"></script>
<script src="~/Scripts/TmamScripts/Fer2a-crud.js"></script>
