<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="~/4500.ico" />
    <title>منظومة الحرب الإلكترونية</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon"
          href="~/4500.ico"
          type="image/x-icon" />
    <link rel="stylesheet" href="~/Content/New_Design/plugins.min.css" />
    <link rel="stylesheet" href="~/Content/New_Design/kaiadmin.min.css" />
    @{
        var tmamTypeCookie = Request.Cookies["tmam-type"]?.Value ?? "";
        TmamEnum tmamType = TmamEnum.Exist;
        if (!tmamTypeCookie.Equals(""))
        {
            tmamType = (TmamEnum)int.Parse(tmamTypeCookie);
        }
    }
    @using ElecWarSystem.Models;
    @{
        UserRoles userRoles = (ElecWarSystem.Models.UserRoles)byte.Parse(Request.Cookies["Roles"].Value);
    }
    <!-- Fonts and icons -->
    <script async src="~/Scripts/New_Design/plugin/webfont/webfont.min.js"></script>

</head>
<body>
    <div class="wrapper d-flex flex-row-reverse">
        <!-- Sidebar -->
        <div class="sidebar" data-background-color="dark">
            <div class="sidebar-logo">
                <!-- Logo Header -->
                <div class="logo-header" data-background-color="dark">
                    <a href="index.html" class="logo">
                        
                    </a>
                    <div class="nav-toggle">
                        <button class="btn btn-toggle toggle-sidebar">
                            <i class="gg-menu-right"></i>
                        </button>
                        <button class="btn btn-toggle sidenav-toggler">
                            <i class="gg-menu-left"></i>
                        </button>
                    </div>
                    <button class="topbar-toggler more">
                        <i class="gg-more-vertical-alt"></i>
                    </button>
                </div>
                <!-- End Logo Header -->
            </div>
            <div class="sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content">
                    <ul class="nav nav-secondary">
                        <li class="nav-item active">
                            <a data-bs-toggle="collapse"
                               href="#colspan1"
                               class="collapsed"
                               aria-expanded="false">
                                <i class="fas fa-home"></i>
                                <p>الصفحة الرسمية </p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="colspan1">
                                <ul class="nav nav-collapse">
                                    @if ((userRoles & UserRoles.Analyzer) == UserRoles.Analyzer)
                                    {
                                        <li>@Html.ActionLink("تبادل الملفات", "Index", "Email")</li>
                                    }
                                    @Html.ActionLink(linkText: "تمام عمليات يومي  ", actionName: "RecievedTmam", controllerName: "TmamGathering")
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a data-bs-toggle="collapse" href="#base">
                                <i class="fas fa-layer-group"></i>
                                <p>تقارير عمليات يومي </p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="base">
                                <ul class="nav nav-collapse">
                                    <li>@Html.ActionLink(linkText: "تمام جميع الوحدات", actionName: "RecievedTmam", controllerName: "TmamGathering")</li>
                                    <li>
                                        @Html.ActionLink("إستلام التمامات", "RecievedTmam", "TmamGathering")
                                    </li>
                                    <li>@Html.ActionLink("تمام القادة", "LeaderShip", "TmamGathering")</li>
                                    <li>@Html.ActionLink("تمام الضباط", "Officers", "TmamGathering")</li>
                                    <li>@Html.ActionLink("تمام الدرجات الأخرى", "NonOfficers", "TmamGathering")</li>
                                    <li>@Html.ActionLink("خارج التمركز", "Mo3askr", "TmamGathering")  </li>
                                    <li>@Html.ActionLink("خارج البلاد", "KharegBelad", "TmamGathering")</li>
                                    <li>@Html.ActionLink("غياب", "Gheyab", "TmamGathering")</li>
                                    <li>@Html.ActionLink("سجن", "Segn", "TmamGathering")</li>
                                    <li>@Html.ActionLink("المستشفى", "Mostashfa", "TmamGathering")</li>
                                    <li>@Html.ActionLink("الفرقة", "Fer2a", "TmamGathering")</li>
                                    <li>@Html.ActionLink("أجازة مرضية", "Marady", "TmamGathering")</li>
                                    <li>@Html.ActionLink("المأموريات", "Ma2moreya", "TmamGathering")</li>

                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a data-bs-toggle="collapse" href="#sidebarLayouts">
                                <i class="fas fa-pen-square"></i>
                                <p>التمام اليومي </p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="sidebarLayouts">
                                <ul class="nav nav-collapse">
                                    @if ((userRoles & UserRoles.We7daRa2eeseya) == UserRoles.We7daRa2eeseya)
                                    {
                                        <li class="sub-link">
                                            @Html.ActionLink(linkText: "التمام اليومى", actionName: "Review", controllerName: "Tmam")

                                        </li>
                                        <li class="sub-link">
                                            @Html.ActionLink(linkText: "إدخال بيانات الوحدة", actionName: "DataEntry", controllerName: "We7daRa2eeseya", routeValues: new { pg = 1 }, htmlAttributes: null)
                                        </li>
                               
                                    }
                                </ul>
                            </div>
                        </li>
                        
                        <li class="nav-item">
                            <a data-bs-toggle="collapse" href="#forms">
                                <i class="fas fa-th-list"></i>
                                <p>تمام معدات </p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="forms">
                                <ul class="nav nav-collapse">
                                    @if ((userRoles & UserRoles.Viewer) == UserRoles.Viewer ||
                                    (userRoles & UserRoles.Admin) == UserRoles.Admin)
                                    {
                                        <li class="sub-link">
                                            @Html.ActionLink(linkText: "تمام خارج التمركز", actionName: "Index", controllerName: "KharegTmarkozs")
                                        </li>
                                    }
                                    @if ((userRoles & UserRoles.We7daRa2eeseya) == UserRoles.We7daRa2eeseya)
                                    {
                                        <li class="sub-link">
                                            @Html.ActionLink(linkText: " التجارب الميدانية", actionName: "Index", controllerName: "Tagroba")
                                        </li>
                                    }
                                    <li>
                                        @Html.ActionLink(" الاستعداد القتالي", "Index", "Mot8ayeratEst3dadQetali")
                                    </li>
                                    <li>
                                        @Html.ActionLink(" تمام مواصلات", "Index", "Mowasalats")
                                    </li>
                                    <li>
                                        @Html.ActionLink(" الصلاحية الفنية", "Index", "Elsala7eyaEl8aneya")
                                    </li>
                                    <li>
                                        @Html.ActionLink(" الخطة ارادة", "Index", "KhetaEradas")
                                    </li>
                                    <li>
                                        @Html.ActionLink(" عناصر مناوبة ", "Index", "AnaserMonawbas")
                                    </li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->

        <div class="main-panel">
            <div class="main-header"lang="ar" >
                    <div class="main-header-logo">
                        <!-- Logo Header -->
                        <div class="logo-header" data-background-color="dark">
                            <a href="index.html" class="logo">
                            
                            </a>
                            <div class="nav-toggle">
                                <button class="btn btn-toggle toggle-sidebar">
                                    <i class="gg-menu-right"></i>
                                </button>
                                <button class="btn btn-toggle sidenav-toggler">
                                    <i class="gg-menu-left"></i>
                                </button>
                            </div>
                            <button class="topbar-toggler more">
                                <i class="gg-more-vertical-alt"></i>
                            </button>
                        </div>
                    </div>
            </div>

            <div class="container mainbody">
                <div class="page-inner">
                    @RenderBody()
                </div>
            </div>
        </div>
        
    </div>

    <!--   Core JS Files   -->
    <script src="~/Scripts/New_Design/core/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/New_Design/core/popper.min.js"></script>
    <script src="~/Scripts/New_Design/core/bootstrap.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="~/Scripts/New_Design/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

    <!-- Chart JS -->
    <script src="~/Scripts/New_Design/plugin/chart.js/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="~/Scripts/New_Design/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Chart Circle -->
    <script src="~/Scripts/New_Design/plugin/chart-circle/circles.min.js"></script>

    <!-- Datatables -->
    <script src="~/Scripts/New_Design/plugin/datatables/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="~/Scripts/New_Design/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- Sweet Alert -->
    <script src="~/Scripts/New_Design/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Kaiadmin JS -->
    <script src="~/Scripts/New_Design/kaiadmin.min.js"></script>
</body>
</html>
