<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="~/4500.ico" />
    <title>منظومة الحرب الإلكترونية</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon"
          href="~/4500.ico"
          type="image/x-icon" />
    <link rel="stylesheet" href="~/Content/New_Design/plugins.min.css" />
    <link rel="stylesheet" href="~/Content/New_Design/kaiadmin.min.css" />
    <link href="~/Content/New_Design/Startup_View.css" rel="stylesheet" />
    <link href="~/Content/tabadol-file.css" rel="stylesheet" />
    @{
        var tmamTypeCookie = Request.Cookies["tmam-type"]?.Value ?? "";
        TmamEnum tmamType = TmamEnum.Exist;
        if (!tmamTypeCookie.Equals(""))
        {
            tmamType = (TmamEnum)int.Parse(tmamTypeCookie);
        }
    }
    @using ElecWarSystem.Models;
    @{
        UserRoles userRoles = (ElecWarSystem.Models.UserRoles)byte.Parse(Request.Cookies["Roles"].Value);
    }
    <!-- Fonts and icons -->
    <script async src="~/Scripts/New_Design/plugin/webfont/webfont.min.js"></script>

</head>
<body>
    <div class="wrapper d-flex flex-row-reverse">
        <!-- Sidebar -->
        <div class="sidebar" data-background-color="dark">
            <div class="sidebar-logo">
                <!-- Logo Header -->
                <div class="logo-header" data-background-color="dark">
                    <a href="index.html" class="logo">
                        منطومة الحرب الإلكترونية
                    </a>
                    <div class="nav-toggle">
                        <button class="btn btn-toggle toggle-sidebar">
                            <i class="gg-menu-right"></i>
                        </button>
                        <button class="btn btn-toggle sidenav-toggler">
                            <i class="gg-menu-left"></i>
                        </button>
                    </div>
                    <button class="topbar-toggler more">
                        <i class="gg-more-vertical-alt"></i>
                    </button>
                </div>
                <!-- End Logo Header -->
            </div>
            <div class="sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content">
                    <ul class="nav nav-secondary">
                        <li class="nav-item active">
                            <a data-bs-toggle="collapse"
                               href="#colspan1"
                               class="collapsed"
                               aria-expanded="false">
                                <i class="fas fa-user"></i>
                                <p>منظومة التمامات </p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="colspan1">
                                <ul class="nav nav-collapse">
                                    <li>@Html.ActionLink(linkText: "تمام عمليات يومي  ", actionName: "RecievedTmam", controllerName: "TmamGathering")</li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item active">
                            <a data-bs-toggle="collapse"
                               href="#colspan2"
                               class="collapsed"
                               aria-expanded="false">
                                <i class="fas fa-file"></i>
                                <p>منظومة تبادل الملفات  </p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="colspan2">
                                <ul class="nav nav-collapse">
                                    @if ((userRoles & UserRoles.Analyzer) == UserRoles.Analyzer)
                                    {
                                        <li>@Html.ActionLink("تبادل الملفات", "Index", "Email")</li>
                                    }
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->

        <div class="main-panel">
            <div class="main-header " style="" lang="ar">
                <div class="dropdown" style="display: inline-block;">
                    <a href="#" class="dropdown-toggle" id="loginDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user"> </i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="loginDropdown">
                        <li style="font-size:15px; color:red;">@Html.ActionLink("تسجيل خروج", "Logout", "User")</li>
                        <li style="font-size:15px; color:red;">@Html.ActionLink("تسجيل جديد ", "Create", "User")</li>
                    </ul>
                </div>
                <p class="text-center ">  <span>مرحبا @Html.Label(Request.Cookies["userName"].Value)</span></p>
            </div>

            <div class="container mainbody">
                <div class="page-inner">
                    @RenderBody()
                </div>
            </div>
        </div>

    </div>

    <!--   Core JS Files   -->
    <script src="~/Scripts/New_Design/core/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/New_Design/core/popper.min.js"></script>
    <script src="~/Scripts/New_Design/core/bootstrap.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="~/Scripts/New_Design/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

    <!-- Chart JS -->
    <script src="~/Scripts/New_Design/plugin/chart.js/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="~/Scripts/New_Design/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Chart Circle -->
    <script src="~/Scripts/New_Design/plugin/chart-circle/circles.min.js"></script>

    <!-- Datatables -->
    <script src="~/Scripts/New_Design/plugin/datatables/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="~/Scripts/New_Design/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- Sweet Alert -->
    <script src="~/Scripts/New_Design/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Kaiadmin JS -->
    <script src="~/Scripts/New_Design/kaiadmin.min.js"></script>
    <script src="~/Scripts/TmamScripts/angular.js"></script>
    <script type="text/javascript" src="~/Scripts/EmailsScript.js"></script>
</body>
</html>
