@using ElecWarSystem.Models
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    UserRoles userRoles = (ElecWarSystem.Models.UserRoles)byte.Parse(Request.Cookies["Roles"].Value);
}
<link rel="stylesheet" href="~/Content/UnitData.css" />
<link rel="stylesheet" href="~/Content/tmamGathering.css" />
<link rel="stylesheet" href="~/Content/second-layout.css" />
<link rel="stylesheet" href="~/Content/aside.css" />
<script src="~/Scripts/TmamScripts/tmam-gathering-helper.js"></script>
<div class="container d-flex flex-column" >
    @{DateTime todayDate = DateTime.Today.AddDays(1);}

    @if ((userRoles & UserRoles.Viewer) == UserRoles.Viewer &&
        (userRoles & UserRoles.Admin) != UserRoles.Admin)
    {
        todayDate = DateTime.Today;
    }
    <div class="title-page d-flex justify-content-lg-between justify-content-md-center align-items-center" >
        <img src="~/Images/elecwarIcon2.png" />
        <div class=" text d-flex flex-column">
            <p >تمام جميع وحدات الحرب الإلكترونية</p>
            <p class="aribiano"  >
                عن يوم <span style="color:var(--alarm);">@todayDate.ToString("dddd الموافق yyyy/MM/dd", new System.Globalization.CultureInfo("ar-AE"))</span>
            </p>
        </div>
        <img src="~/Images/elecwarIcon2.png" />
    </div>
    <nav>
        <ul class="links d-flex flex-row justify-content-between align-items-center flex-wrap">
            <li>@Html.ActionLink("إستلام التمامات", "RecievedTmam", "TmamGathering")</li>
            <li>@Html.ActionLink("تمام القادة", "LeaderShip", "TmamGathering")</li>
            <li>@Html.ActionLink("تمام الضباط", "Officers", "TmamGathering")</li>
            <li>@Html.ActionLink("تمام الدرجات الأخرى", "NonOfficers", "TmamGathering")</li>
            <li>@Html.ActionLink("خارج التمركز", "Mo3askr", "TmamGathering")  </li>
            <li>@Html.ActionLink("خارج البلاد", "KharegBelad", "TmamGathering")</li>
            <li>@Html.ActionLink("غياب", "Gheyab", "TmamGathering")</li>
            <li>@Html.ActionLink("سجن", "Segn", "TmamGathering")</li>
            <li>@Html.ActionLink("المستشفى", "Mostashfa", "TmamGathering")</li>
            <li>@Html.ActionLink("الفرقة", "Fer2a", "TmamGathering")</li>
            <li>@Html.ActionLink("أجازة مرضية", "Marady", "TmamGathering")</li>
            <li>@Html.ActionLink("المأموريات", "Ma2moreya", "TmamGathering")</li>
        </ul>
    </nav>
    
    
</div>
<div style="width: 100%">
    @RenderBody()
</div>