<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/TmamScripts/Gheyab-crud.js"></script>
@using ElecWarSystem.Models
@{
    int j = 1;
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/tmam_layout.cshtml";
}
<div class="container">
    <div class="row">
        <h2>الأفراد الغياب</h2>
        <p id="Gheyab-counter" style="margin:10px; font-size:18px;">@ViewBag.EnteredGheyabs / @ViewBag.TotalGheyabs</p>
        <div class="name-div col-lg-12 .">
            <div class="container">
                <div class="row">
                    <div class="form-group col-lg-12 .">
                        <button id="add-Gheyab-btn" class="export-btn" style="font-size:16px;" onclick="openGheyabPopup()">
                            <span class="glyphicon glyphicon-plus"></span>
                            إضافة
                        </button>
                    </div>
                    <div class="col-lg-12 .">
                        <table class="table table-bordered" id="Gheyab-table">
                            <tr>
                                <th>م</th>
                                <th>الرتبة / الدرجة</th>
                                <th>الإسم </th>
                                <th>التاريخ الغياب</th>
                                <th>دفعة الغياب</th>
                                <th colspan="2">بند الأوامر</th>
                                <th></th>
                            </tr>
                            <tbody style="font-size:14px;">
                                @foreach (Gheyab Gheyab in ViewBag.GheyabsList)
                                {
                                    <tr>
                                        <td>@j</td>
                                        <td>@Gheyab.GheyabDetails.FardDetails.Rotba.RotbaName</td>
                                        <td>@Gheyab.GheyabDetails.FardDetails.FullName</td>
                                        <td>@Gheyab.GheyabDetails.DateFrom.ToString("yyyy-MM-dd")</td>
                                        <td>@Gheyab.GheyabDetails.GheyabTimes</td>
                                        <td>@Gheyab.GheyabDetails.commandItem.Number</td>
                                        <td>@Gheyab.GheyabDetails.commandItem.Date.ToString("yyyy-MM-dd")</td>
                                        <td>
                                            <button class="btn btn-danger" onclick="deleteGheyab(@Gheyab.ID)">
                                                حذف
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    j++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap Modal for Popup -->
<div class="modal fade Gheyab-popup" id="gheyabModal" tabindex="-1" role="dialog" aria-labelledby="gheyabModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="gheyabModalLabel">تسجيل غياب</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form">
                    <!-- Rotba -->
                    <div class="form-group row ">
                        <label for="FardDetails-Rotba" class="col-sm-3 col-form-label">الرتبة/الدرجة</label>
                        <div class="col-sm-9">
                            @Html.DropDownList("FardDetails-Rotba", new SelectList(ViewBag.Rotbas, "ID", "RotbaName"), new { @class = "form-control", @id = "FardDetails-Rotba", @onchange = "UpdateFardDetailsComboBox()" })
                        </div>
                    </div>

                    <!-- Name -->
                    <div class="form-group row">
                        <label for="FardDetails-name" class="col-sm-3 col-form-label">الإسم</label>
                        <div class="col-sm-9">
                            <select name="FardDetails-name" class="form-control" id="FardDetails-name" onchange="disableBtn()">
                                <option></option>
                            </select>
                        </div>
                    </div>

                    <!-- Gheyab Date -->
                    <div class="form-group row">
                        <label for="date-from" class="col-sm-3 col-form-label">التاريخ الغياب</label>
                        <div class="col-sm-9">
                            @Html.Editor("date-from", new { htmlAttributes = new { @class = "form-control", @type = "date", @id = "date-from", @onchange = "disableBtn()" } })
                        </div>
                    </div>

                    <!-- Gheyab Times -->
                    <div class="form-group row">
                        <label for="Gheyab-times" class="col-sm-3 col-form-label">دفعة الغياب</label>
                        <div class="col-sm-9">
                            @Html.Editor("Gheyab-times", new { htmlAttributes = new { @class = "form-control", @type = "number", @id = "Gheyab-times", @onkeyup = "disableBtn()" } })
                        </div>
                    </div>

                    <!-- Command -->
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">البند الأوامر</label>
                        <div class="col-sm-4">
                            <input id="command-number" class="form-control" onkeyup="disableBtn()" type="number" placeholder="رقم الأمر" />
                        </div>
                        <div class="col-sm-5">
                            <input id="command-date" class="form-control" onchange="disableBtn()" type="date" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
                <button class="export-btn popup-submit-btn" disabled onclick="Add()">
                    <i class="fas fa-save"></i> حفظ
                </button>
            </div>
        </div>
    </div>
</div>
