@using ElecWarSystem.Models
@using ElecWarSystem.ViewModel

@{
    Layout = "~/Views/Shared/tmam_gathering_layout.cshtml";
    Dictionary<String, Dictionary<String, Dictionary<String, LeaderTmamView>>> leadersTmams = ViewBag.leadersTmams;
    Dictionary<String, Dictionary<String, FardDetails>> Ra2ees3ameleyatID = ViewBag.Ra2ees3ameleyatID;
}
<link rel="stylesheet" href="~/Content/Leadership.css" />
<h1 class="title-of-page" >
    تمام قادة وحدات الحرب الإلكترونیة
</h1>
<hr />

<div>
    @foreach (var leaderTmamPerZone in leadersTmams)
    {

        <p class="text-center" id="zone-text">@String.Format("وحدات فى نطاق {0}", leaderTmamPerZone.Key) </p>
        <table class="table table-bordered" style="border: 5px double black;">
            <tr style="background-color:gray;">
                <th rowspan="3" style="padding-top: 40px;">الوحدة</th>
                <th colspan="2">القائد</th>
                <th colspan="2">ر.ع</th>
                <th colspan="2" class="aribiano">قا ك1</th>
                <th colspan="2" class="aribiano">ر.ع ك1</th>
                <th colspan="2" class="aribiano">قا ك2</th>
                <th colspan="2" class="aribiano">ر.ع ك2</th>
                <th colspan="2" class="aribiano">قا ك3</th>
                <th colspan="2" class="aribiano">ر.ع ك3</th>
                <th colspan="2" rowspan="2" style="text-align: center;">منوب عمليات</th>
            </tr>
            <tr style="background-color:gray">
                @for (int i = 0; i < 8; i++)
                {
                    <th colspan="2">التمام</th>
                }
            </tr>
            <tr style="border-block-end:5px double black;background-color:gray">
                @for (int i = 0; i < 8; i++)
                {
                    <th>من</th>
                    <th>إلى</th>
                }
                <th>الرتبة</th>
                <th>الإسم</th>
            </tr>
            @foreach (var leaderTmamPerUnit in leaderTmamPerZone.Value)
            {
                Dictionary<string, LeaderTmamView> LeaderTmamView = leaderTmamPerUnit.Value;

                <tbody style="font-size:8px;">
                    <tr>
                        <td rowspan="2" id="unit-name" class="aribiano">@leaderTmamPerUnit.Key</td>
                        @foreach (string key in LeaderTmamView.Keys)
                        {
                            long FardDetailsID = LeaderTmamView[key].OutdoorDetail.FardID;
                            <td colspan="2" style="cursor:pointer" id="@FardDetailsID" onclick="showPopup(@FardDetailsID)">@LeaderTmamView[key].Tmam</td>
                        }

                        @for (int i = 0; i < 8 - LeaderTmamView.Keys.Count; i++)
                        {
                            <td colspan="2">-</td>
                        }
                        @if (Ra2ees3ameleyatID[leaderTmamPerZone.Key].Keys.Contains(leaderTmamPerUnit.Key))
                        {
                            <td rowspan="2" id="alt-comm">@(Ra2ees3ameleyatID[leaderTmamPerZone.Key][leaderTmamPerUnit.Key].Rotba.RotbaName)</td>
                            <td rowspan="2" id="alt-comm">@(Ra2ees3ameleyatID[leaderTmamPerZone.Key][leaderTmamPerUnit.Key].FullName)</td>
                        }
                        else
                        {
                            <td rowspan="2" id="alt-comm">-</td>
                            <td rowspan="2" id="alt-comm">-</td>
                        }
                    </tr>
                    <tr>
                        @foreach (string key in LeaderTmamView.Keys)
                        {
                            if (LeaderTmamView[key].Tmam.Equals("موجود"))
                            {
                                <td id="unit-end-line">-</td>
                                <td id="unit-end-line">-</td>
                            }
                            else
                            {
                                <td id="unit-end-line" class="aribiano">@LeaderTmamView[key].OutdoorDetail.DateFrom.ToString("MM/dd")</td>
                                <td id="unit-end-line" class="aribiano">@LeaderTmamView[key].OutdoorDetail.DateTo.ToString("MM/dd")</td>
                            }
                        }

                        @for (int i = 0; i < 8 - LeaderTmamView.Keys.Count; i++)
                        {
                            <td id="unit-end-line">-</td>
                            <td id="unit-end-line">-</td>
                        }
                    </tr>
                </tbody>
            }
        </table>
    }

        @Html.ActionLink("تنزيل pdf ", actionName: "LeadersTmamReport", controllerName: "TmamGatheringReports", routeValues: null, htmlAttributes: new { @class = "export-btn" })

</div>

    