
<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/TmamScripts/KharegBelad-crud.js"></script>
@using ElecWarSystem.Models
@{
    int j;
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/tmam_layout.cshtml";
}

<h2>خارج البلاد</h2>
<p id="KharegBelad-counter" style="margin:10px; font-size:18px;">@ViewBag.KharegBeladEntered / @ViewBag.KharegBeladTotal</p>
<div class="name-div ">
    <div class="container">
        <div class="">
            <div class="form-group ">
                <button id="add-KharegBelad-btn" class="export-btn" style="font-size:16px;" onclick="openKharegBeladPopup()">
                    <span class="glyphicon glyphicon-plus"></span>
                    إضافة
                </button>
            </div>
            <div class="">
                <table class="table table-bordered" id="KharegBelad-table">
                    <tr>
                        <th>م</th>
                        <th>الرتبة / الدرجة</th>
                        <th>الإسم </th>
                        <th>جهة السفر</th>
                        <th>الغرض من السفر</th>
                        <th>المدة من</th>
                        <th>المدة إلى</th>
                        <th></th>
                    </tr>
                    @{
                        j = 1;
                    }
                    <tbody style="font-size:14px;">
                        @foreach (KharegBelad KharegBelad in ViewBag.KharegBelad)
                        {
                            <tr>
                                <td>@j</td>
                                <td>@KharegBelad.KharegBeladDetails.FardDetails.Rotba.RotbaName</td>
                                <td>@KharegBelad.KharegBeladDetails.FardDetails.FullName</td>
                                <td>@KharegBelad.KharegBeladDetails.Balad</td>
                                <td>@KharegBelad.KharegBeladDetails.Sabab</td>
                                <td>@KharegBelad.KharegBeladDetails.DateFrom.ToString("yyyy-MM-dd")</td>
                                <td>@KharegBelad.KharegBeladDetails.DateTo.ToString("yyyy-MM-dd")</td>
                                <td>
                                    <button class="btn btn-danger timeout-btn" onclick="deleteKharegBelad(@KharegBelad.ID)">
                                        حذف
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </td>
                            </tr>
                            j++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade KharegBelad-popup" id="kharegBeladModal" tabindex="-1" role="dialog" aria-labelledby="kharegBeladModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="kharegBeladModalLabel">إضافة جديد</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="d-flex flex-wrap ">
                    <div class="form-group col-md-6">
                        @Html.Label("الرتبة/الدرجة", htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownList("FardDetails-Rotba", new SelectList(ViewBag.Rotbas, "ID", "RotbaName"), new { @class = "form-control", @id = "FardDetails-Rotba", @onchange = "UpdateFardDetailsComboBox()" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.Label("الإسم", htmlAttributes: new { @class = "control-label" })
                        <select name="FardDetails-name" class="form-control" id="FardDetails-name">
                            <option></option>
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.Label("جهة السفر", htmlAttributes: new { @class = "control-label" })
                        @Html.Editor("country", new { htmlAttributes = new { @class = "form-control", @id = "country", @onkeyup = "disableBtn()" } })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.Label("الغرض من السفر", htmlAttributes: new { @class = "control-label" })
                        @Html.Editor("purpose", new { htmlAttributes = new { @class = "form-control", @id = "purpose", @onkeyup = "disableBtn()" } })
                    </div>

                    <div class="form-group col-md-6">
                        @Html.Label("المدة من", htmlAttributes: new { @class = "control-label" })
                        @Html.Editor("date-from", new { htmlAttributes = new { @class = "form-control", @type = "date", @id = "date-from", @onchange = "disableBtn()" } })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.Label("المدة إلى", htmlAttributes: new { @class = "control-label" })
                        @Html.Editor("date-to", new { htmlAttributes = new { @class = "form-control", @type = "date", @id = "date-to", @onchange = "disableBtn()" } })
                    </div>

                    <div class="form-group text-center">
                        <button type="button" class="export-btn popup-submit-btn" disabled onclick="Add()">
                            <span class="glyphicon glyphicon-save"></span> حفظ
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
