
@{
    int j = 1;
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/tmam_layout.cshtml";
}
@using ElecWarSystem.Models
<div class="container">
    <div class="row">
        <h2>السجن</h2>
        <p id="Segn-counter" style="margin:10px; font-size:18px;">@ViewBag.EnteredSegns / @ViewBag.TotalSegns</p>
        <div class="name-div col-lg-12 .">
            <div class="container">
                <div class="row">
                    <div class="form-group col-lg-12 .">
                        <button id="add-Segn-btn" class="export-btn" style="font-size:16px;" onclick="openSegnPopup()">
                            <span class="glyphicon glyphicon-plus"></span>
                            إضافة
                        </button>
                    </div>
                    <div class="col-lg-12 .">
                        <table class="table table-bordered" id="Segn-table">
                            <tr>
                                <th>م</th>
                                <th>الرتبة / الدرجة</th>
                                <th>الإسم </th>
                                <th>الجريمة</th>
                                <th>العقوبة</th>
                                <th>الآمر بالعقوبة</th>
                                <th>مدة التنفذ من</th>
                                <th>مدة التنفذ إلى</th>
                                <th>مكان التنفيذ</th>
                                <th colspan="2">بند الأوامر</th>
                                <th></th>
                            </tr>
                            <tbody style="font-size:14px;">
                                @foreach (Segn Segn in ViewBag.SegnsList)
                                {
                                    <tr>
                                        <td>@j</td>
                                        <td>@Segn.SegnDetails.FardDetails.Rotba.RotbaName</td>
                                        <td>@Segn.SegnDetails.FardDetails.FullName</td>
                                        <td>@Segn.SegnDetails.Gareema</td>
                                        <td>@Segn.SegnDetails.Eqab</td>
                                        <td>@Segn.SegnDetails.Mo3aqeb</td>
                                        <td>@Segn.SegnDetails.DateFrom.ToString("yyyy-MM-dd")</td>
                                        <td>@Segn.SegnDetails.DateTo.ToString("yyyy-MM-dd")</td>
                                        <td>@Segn.SegnDetails.SegnPlace</td>
                                        <td>@Segn.SegnDetails.CommandItem.Number</td>
                                        <td>@Segn.SegnDetails.CommandItem.Date.ToString("yyyy/MM/dd")</td>
                                        <td>
                                            <button class="btn btn-danger" onclick="deleteSegn(@Segn.ID)">
                                                حذف
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    j++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap Modal Popup -->
<div class="modal fade" id="popupModal" tabindex="-1" aria-labelledby="popupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="popupModalLabel">تفاصيل الجريمة</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <!-- Rotba Dropdown -->
                    <div class="col-md-4">
                        <label for="FardDetails-Rotba" class="form-label">الرتبة/الدرجة</label>
                        @Html.DropDownList("FardDetails-Rotba", new SelectList(ViewBag.Rotbas, "ID", "RotbaName"), new { @class = "form-select", @id = "FardDetails-Rotba", @onchange = "UpdateFardDetailsComboBox()" })
                    </div>

                    <!-- Name Dropdown -->
                    <div class="col-md-8">
                        <label for="FardDetails-name" class="form-label">الإسم</label>
                        <select name="FardDetails-name" class="form-select" id="FardDetails-name" onchange="disableBtn()">
                            <option selected disabled>اختر الإسم</option>
                        </select>
                    </div>

                    <!-- Crime Input -->
                    <div class="col-md-6">
                        <label for="crime" class="form-label">الجريمة</label>
                        @Html.Editor("crime", new { htmlAttributes = new { @class = "form-control", @id = "crime", @onkeyup = "disableBtn()" } })
                    </div>

                    <!-- Punishment Input -->
                    <div class="col-md-6">
                        <label for="punishment" class="form-label">العقوبة</label>
                        @Html.Editor("punishment", new { htmlAttributes = new { @class = "form-control", @id = "punishment", @onkeyup = "disableBtn()" } })
                    </div>

                    <!-- Punisher Input -->
                    <div class="col-md-5">
                        <label for="punisher" class="form-label">الآمر بالعقوبة</label>
                        @Html.Editor("punisher", new { htmlAttributes = new { @class = "form-control", @id = "punisher", @onkeyup = "disableBtn()" } })
                    </div>

                    <!-- Date From -->
                    <div class="col-md-6">
                        <label for="date-from" class="form-label">المدة التنفيذ من</label>
                        @Html.Editor("date-from", new { htmlAttributes = new { @class = "form-control", @type = "date", @id = "date-from", @onchange = "disableBtn()" } })
                    </div>

                    <!-- Date To -->
                    <div class="col-md-6">
                        <label for="date-to" class="form-label">المدة التنفيذ إلى</label>
                        @Html.Editor("date-to", new { htmlAttributes = new { @class = "form-control", @type = "date", @id = "date-to", @onchange = "disableBtn()" } })
                    </div>

                    <!-- Place Input -->
                    <div class="col-md-6">
                        <label for="Segn-place" class="form-label">مكان التنفيذ</label>
                        @Html.Editor("Segn-place", new { htmlAttributes = new { @class = "form-control", @id = "Segn-place", @onkeyup = "disableBtn()" } })
                    </div>

                    <!-- Command Section -->
                    <div class="col-md-12">
                        <label for="command-number" class="form-label">البند الأوامر</label>
                        <div class="d-flex">
                            <input id="command-number" class="form-control me-3" onkeyup="disableBtn()" type="number" placeholder="رقم الأمر" />
                            <input id="command-date" class="form-control" onchange="disableBtn()" type="date" />
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إلغاء</button>
                <button type="button" class="export-btn" disabled id="popup-submit-btn" onclick="Add()">حفظ</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/TmamScripts/Segn-crud.js"></script>